.header {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  background: var(--header-bg);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    @include media-down(small-down) {
      width: 100%;
      max-width: 11.25rem;
    }
  }
}
