.home-main {
  padding-top: calc(var(--gutter) * 2);
  padding-bottom: calc(var(--gutter) * 2);

  &__wrapper {
    padding-top: calc(var(--gutter) * 2);
    display: grid;
    gap: calc(var(--gutter) * 2);

    @include media-up(medium-up) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-up(x-large-up) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
